<a href="https://colab.research.google.com/github/tsangrebecca/BloomTech/blob/main/Sprint_1/DS_Unit1_Sprint1_AG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sprint Challenge: Data Wrangling and Storytelling
### Notebook points total: 14

## Python Fundamentals

**Task 1** - Python Objects
* Create a list object called `list_practice` using the following three strings: `bloom`, `data`, `python`

In [2]:
# YOUR CODE HERE
list_practice = ['bloom', 'data', 'python']

**Task 1 Test**

In [3]:
#Task 1 - Test
assert isinstance(list_practice, list), "Make sure you created a list object"


**Task 2** - Dictionaries
* Create a dictionary object called `diction_practice`.
* Assign the following values to their respective keys listed above: `tech`,  `science`, `language`

*Hint:* There are multiple ways you can accomplish this task. You can either write out the key:values pairs manually, or iteratively combine two lists using the [`zip` function](https://docs.python.org/3/library/functions.html).

In [5]:
# YOUR CODE HERE
diction_practice = {'bloom':'tech', 'data':'science', 'python':'language'}

**Task 2 - Test**

In [2]:
#Task 2 - Test

assert isinstance(diction_practice, dict), "Did you use the correct syntax?"


**Task 3** - Dictionaries
* Reassign the value of the `python` key in your dictionary to `'programming_language'`

In [6]:
# YOUR CODE HERE
diction_practice = {'bloom':'tech', 'data':'science', 'python':'programming_language'}

**Task 3 Tests**

In [7]:
#Task 3 Tests

assert diction_practice['data'] == 'science', "Make sure your values are assigned to their correct keys"

## Use the following information to complete Tasks



In this Sprint Challenge you will first "wrangle" some data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/countries-etc-datapoints/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/countries-etc-datapoints/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the first part of this sprint challenge.
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

**Task 4** - Load and print the cell phone data.  Pandas and numpy import statements have been included for you.

* Load your CSV file found at `cell_phones_url` into a DataFrame object named `cell_phones`

In [8]:
# Task 4

# Imports
import pandas as pd
import numpy as np

cell_phones_url = 'https://raw.githubusercontent.com/bloominstituteoftechnology/data-science-practice-datasets/main/unit_1/Cell__Phones/cell_phones.csv'

# Load the dataframe and print the top 5 rows

# YOUR CODE HERE
cell_phones = pd.read_csv(cell_phones_url)
cell_phones.head()

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0

**Task 4 Test**

In [9]:
# Task 4 - Test

assert isinstance(cell_phones, pd.DataFrame), 'Have you created a DataFrame named `cell_phones`?'
assert len(cell_phones) == 9574

**Task 5** - Load and print the population data.

* Load the CSV file found at `population_url` into a DataFrame named `population`

In [10]:
# Task 5

population_url = 'https://raw.githubusercontent.com/bloominstituteoftechnology/data-science-practice-datasets/main/unit_1/Population/population.csv'

# Load the dataframe and print the first 5 records

# YOUR CODE HERE
population = pd.read_csv(population_url)
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

**Task 5 Test**

In [11]:
# Task 5 - Test

assert isinstance(population, pd.DataFrame), 'Have you created a DataFrame named `population`?'
assert len(population) == 59297

**Task 6** - Load and print the geo country codes data.

* Load the CSV file found at `geo_codes_url` into a DataFrame named `geo_codes`

In [13]:
# Task 6

geo_codes_url = 'https://raw.githubusercontent.com/bloominstituteoftechnology/data-science-practice-datasets/main/unit_1/GEO_codes/geo_country_codes.csv'

# Load the dataframe and print out the first 5 records

# YOUR CODE HERE
geo_codes = pd.read_csv(geo_codes_url)
geo_codes.head()

,geo,g77_and_oecd_countries,income_3groups,income_groups,is--country,iso3166_1_alpha2,iso3166_1_alpha3,iso3166_1_numeric,iso3166_2,landlocked,...,longitude,main_religion_2008,country,un_sdg_ldc,un_sdg_region,un_state,unicef_region,unicode_region_subtag,world_4region,world_6region
0,abkh,others,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Abkhazia,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,others,high_income,high_income,True,AW,ABW,533.0,NaN,coastline,...,-69.96667,christian,Aruba,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AW,americas,america
2,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,66.00000,muslim,Afghanistan,un_least_developed,un_central_and_southern_asia,True,sa,AF,asia,south_asia
3,ago,g77,middle_income,lower_middle_income,True,AO,AGO,24.0,NaN,coastline,...,18.50000,christian,Angola,un_least_developed,un_sub_saharan_africa,True,ssa,AO,africa,sub_saharan_africa
4,aia,others,NaN,NaN,True,AI,AIA,660.0,NaN,coastline,...,-63.05000,christian,Anguilla,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AI,americas,america

**Task 6 Test**

In [14]:
# Task 6 - Test

assert geo_codes is not None, 'Have you created a DataFrame named `geo_codes`?'
assert len(geo_codes) == 273

**Task 7** - Check for missing values

Let's check for missing values in each of these DataFrames: `cell_phones`, `population` and `geo_codes`

* Check for missing values in the following DataFrames:
    * Assign the total number of missing values in `cell_phones` to the variable `cell_phones_missing`
    * Assign the total number of missing values in `population` to the variable `population_missing`
    * Assign the total number of missing values in `geo_codes` to the variable `geo_codes_missing`
        * Hint: you will need to do a sum of a sum for this last task.

In [19]:
# Task 7

# Check for missing data in each of the DataFrames

# YOUR CODE HERE
cell_phones_missing = cell_phones.isnull().sum().sum()
cell_phones_missing

0

In [20]:
population_missing = population.isnull().sum().sum()
population_missing

0

In [21]:
geo_codes_missing = geo_codes.isnull().sum().sum()
geo_codes_missing

781

**Task 7 Test**

In [22]:
# Task 7 - Test

if geo_codes_missing == 21: print('ERROR: Make sure to use a sum of a sum for the missing geo codes!')

# Hidden tests - you will see the results when you submit to Canvas

**Task 8** - Merge the `cell_phones` and `population` DataFrames.

* Merge the `cell_phones` and `population` dataframes with an **inner** merge on both the `geo` and `time` columns.
* Call the resulting dataframe `cell_phone_population`

In [27]:
# Task 8

# Merge the cell_phones and population dataframes

# YOUR CODE HERE
cell_phone_population = pd.merge(cell_phones, population, how='inner', on=['geo','time'])
cell_phone_population

      geo  time  cell_phones_total  population_total
0     afg  1960                0.0           8996967
1     afg  1965                0.0           9956318
2     afg  1970                0.0          11173654
3     afg  1975                0.0          12689164
4     afg  1976                0.0          12943093
...   ...   ...                ...               ...
8925  zwe  2015         12757410.0          13814642
8926  zwe  2016         12878926.0          14030338
8927  zwe  2017         14092104.0          14236599
8928  zwe  2018         12908992.0          14438812
8929  zwe  2019         13195902.0          14645473

[8930 rows x 4 columns]

**Task 8 Test**

In [28]:
# Task 8 - Test

assert cell_phone_population is not None, 'Have you merged created a DataFrame named cell_phone_population?'
assert len(cell_phone_population) == 8930

**Task 9** - Merge the `cell_phone_population` and `geo_codes` DataFrames

* Merge the `cell_phone_population` and `geo_codes` DataFrames with an inner merge using the `geo` column.
* **Only merge the `country` and `geo` columns from the `geo_codes` dataframe.**
* Call the resulting DataFrame `geo_cell_phone_population`

In [34]:
# Task 9

# Merge the cell_phone_population and geo_codes dataframes
# Only include the country and geo columns from geo_codes

# YOUR CODE HERE
geo_cell_phone_population = pd.merge(cell_phone_population, geo_codes[['country','geo']], how='inner', on='geo')
geo_cell_phone_population

      geo  time  cell_phones_total  population_total      country
0     afg  1960                0.0           8996967  Afghanistan
1     afg  1965                0.0           9956318  Afghanistan
2     afg  1970                0.0          11173654  Afghanistan
3     afg  1975                0.0          12689164  Afghanistan
4     afg  1976                0.0          12943093  Afghanistan
...   ...   ...                ...               ...          ...
8925  zwe  2015         12757410.0          13814642     Zimbabwe
8926  zwe  2016         12878926.0          14030338     Zimbabwe
8927  zwe  2017         14092104.0          14236599     Zimbabwe
8928  zwe  2018         12908992.0          14438812     Zimbabwe
8929  zwe  2019         13195902.0          14645473     Zimbabwe

[8930 rows x 5 columns]

**Task 9 Test**

In [35]:
# Task 9 - Test
assert len(geo_cell_phone_population) == 8930
assert type(geo_cell_phone_population) == pd.DataFrame

**Task 10** - Calculate the number of cell phones per person.

* Use the `cell_phones_total` and `population_total` columns to calculate the number of cell phones per person for every year. (In other words, for every row).
* Create a new column: Call this new feature (column) `phones_per_person` and add it to the `geo_cell_phone_population` DataFrame (you'll be adding the column to the DataFrame).

*Hint: You can find a refresher on how to create a new column in Module 2 of this sprint.*

In [37]:
# Task 10

# YOUR CODE HERE
geo_cell_phone_population['phones_per_person'] = geo_cell_phone_population['cell_phones_total']/geo_cell_phone_population['population_total']
geo_cell_phone_population

,geo,time,cell_phones_total,population_total,country,phones_per_person
0,afg,1960,0.0,8996967,Afghanistan,0.000000
1,afg,1965,0.0,9956318,Afghanistan,0.000000
2,afg,1970,0.0,11173654,Afghanistan,0.000000
3,afg,1975,0.0,12689164,Afghanistan,0.000000
4,afg,1976,0.0,12943093,Afghanistan,0.000000
...,...,...,...,...,...,...
8925,zwe,2015,12757410.0,13814642,Zimbabwe,0.923470
8926,zwe,2016,12878926.0,14030338,Zimbabwe,0.917934
8927,zwe,2017,14092104.0,14236599,Zimbabwe,0.989850
8928,zwe,2018,12908992.0,14438812,Zimbabwe,0.894048
8929,zwe,2019,13195902.0,14645473,Zimbabwe,0.901023

**Task 10 Test**

In [38]:
# Task 10 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 11** - Identify the number of cell phones per person in the US in 2017

* Create a one-row subset of `geo_cell_phone_population` with data on cell phone ownership in the United States for the year 2017.
* Call this subset DataFrame `US_2017`.
* Print `US_2017`.

In [96]:
pd.set_option('display.max_rows', 100)

In [97]:
geo_cell_phone_population['country'].value_counts()

Afghanistan    48
Maldives       48
Lithuania      48
Luxembourg     48
Latvia         48
               ..
Timor-Leste    18
Serbia         16
Montenegro     16
Palau          14
South Sudan     9
Name: country, Length: 195, dtype: int64

In [89]:
# Task 11

# Determine the number of cell phones per person in the US in 2017

# YOUR CODE HERE
US_2017 = geo_cell_phone_population.loc[(geo_cell_phone_population['time'] == 2017) & (geo_cell_phone_population['country'] == 'United States')]

# View the DataFrame
US_2017

,geo,time,cell_phones_total,population_total,country,phones_per_person
8455,usa,2017,400000000.0,325084758,United States,1.230448

**Task 11 Test**

In [90]:
# Task 11 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 12** - Describe the numeric variables in `geo_cell_phone_population`

* Calculate the summary statistics for the quantitative variables in `geo_cell_phone_population` using `.describe()`.
* Find the mean value for `phones_per_person` and assign it to the variable `mean_phones`. Define your value out to two decimal points.

In [91]:
# Task 12

# YOUR CODE HERE
geo_cell_phone_population.describe()

              time  cell_phones_total  population_total  phones_per_person
count  8930.000000       8.930000e+03      8.930000e+03        8930.000000
mean   1995.112654       1.029526e+07      3.022669e+07           0.311365
std      14.727908       6.341205e+07      1.182369e+08           0.478216
min    1960.000000       0.000000e+00      4.377000e+03           0.000000
25%    1984.000000       0.000000e+00      1.488924e+06           0.000000
50%    1996.000000       1.120100e+04      5.869780e+06           0.003126
75%    2008.000000       2.283409e+06      1.838223e+07           0.584771
max    2019.000000       1.725695e+09      1.433784e+09           2.885326

In [93]:
mean_phones = 0.31

**Task 12 Test**

In [94]:
# Task 12 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 13** - Subset the DataFrame for 2017

* Create a new dataframe called `df2017` that includes **only** records from `geo_cell_phone_population` that ocurred in 2017.

In [95]:
# Task 13

# Create a new dataframe called df2017 that includes only records from geo_cell_phone_population that ocurred in 2017.

# YOUR CODE HERE
df2017 = geo_cell_phone_population.loc[geo_cell_phone_population['time'] == 2017]
df2017

,geo,time,cell_phones_total,population_total,country,phones_per_person
45,afg,2017,2.392971e+07,36296111,Afghanistan,0.659291
93,ago,2017,1.332395e+07,29816769,Angola,0.446861
141,alb,2017,3.625699e+06,2884169,Albania,1.257104
189,and,2017,8.033700e+04,76997,Andorra,1.043378
227,are,2017,1.982622e+07,9487206,United Arab Emirates,2.089785
275,arg,2017,6.189738e+07,43937143,Argentina,1.408771
323,arm,2017,3.488524e+06,2944789,Armenia,1.184643
365,atg,2017,1.840000e+05,95425,Antigua and Barbuda,1.928216
411,aus,2017,2.666000e+07,24584619,Australia,1.084418
459,aut,2017,1.085900e+07,8819902,Austria,1.231193
507,aze,2017,1.012700e+07,9845316,Azerbaijan,1.028611
555,bdi,2017,5.920612e+06,10827010,Burundi,0.546837
603,bel,2017,1.135729e+07,11419752,Belgium,0.994530
651,ben,2017,8.773044e+06,11175192,Benin,0.785046
699,bfa,2017,1.794638e+07,19193236,Burkina Faso,0.935036
747,bgd,2017,1.509450e+08,159685421,Bangladesh,0.945265
795,bgr,2017,8.532908e+06,7102452,Bulgaria,1.201403
843,bhr,2017,2.364477e+06,1494077,Bahrain,1.582567
890,bhs,2017,3.535400e+05,381749,Bahamas,0.926106
938,bih,2017,3.440085e+06,3351534,Bosnia and Herzegovina,1.026421
986,blr,2017,1.141514e+07,9450233,Belarus,1.207922
1033,blz,2017,2.394410e+05,375775,Belize,0.637192
1081,bol,2017,1.096322e+07,11192853,Bolivia,0.979484
1128,bra,2017,2.182443e+08,207833825,Brazil,1.050090
1175,brb,2017,3.295650e+05,286229,Barbados,1.151403
1222,brn,2017,5.447320e+05,424481,Brunei,1.283289
1270,btn,2017,7.306230e+05,745563,Bhutan,0.979961
1318,bwa,2017,3.240589e+06,2205076,Botswana,1.469604
1366,caf,2017,1.175389e+06,4596023,Central African Republic,0.255740
1414,can,2017,3.169300e+07,36732091,Canada,0.862815
1462,che,2017,1.108860e+07,8455797,Switzerland,1.311360
1510,chl,2017,2.301315e+07,18470435,Chile,1.245945
1558,chn,2017,1.469882e+09,1421021794,China,1.034384
1606,civ,2017,3.174723e+07,24437475,Cote d'Ivoire,1.299121
1654,cmr,2017,2.013539e+07,24566070,Cameroon,0.819642
1699,cod,2017,3.537525e+07,81398765,"Congo, Dem. Rep.",0.434592
1746,cog,2017,5.056000e+06,5110701,"Congo, Rep.",0.989297
1793,col,2017,6.222001e+07,48909844,Colombia,1.272137
1841,com,2017,4.689140e+05,813890,Comoros,0.576139
1889,cpv,2017,6.122590e+05,537499,Cape Verde,1.139089
1937,cri,2017,8.840342e+06,4949955,Costa Rica,1.785944
1985,cub,2017,4.613782e+06,11339255,Cuba,0.406886
2033,cyp,2017,1.176801e+06,1179685,Cyprus,0.997555
2081,cze,2017,1.263636e+07,10641032,Czech Republic,1.187513
2129,deu,2017,1.097000e+08,82658409,Germany,1.327149
2177,dji,2017,3.730520e+05,944100,Djibouti,0.395140
2224,dma,2017,7.523000e+04,71460,Dominica,1.052757
2271,dnk,2017,7.140859e+06,5732277,Denmark,1.245728
2316,dom,2017,8.769127e+06,10513111,Dominican Republic,0.834113
2364,dza,2017,4.584566e+07,41389174,Algeria,1.107673
2412,ecu,2017,1.465140e+07,16785356,Ecuador,0.872868
2460,egy,2017,1.029582e+08,96442590,Egypt,1.067559
2508,eri,2017,6.950000e+05,3412894,Eritrea,0.203639
2551,esp,2017,5.250693e+07,46647425,Spain,1.125613
2599,est,2017,1.904425e+06,1319389,Estonia,1.443414
2647,eth,2017,3.960000e+07,106399926,Ethiopia,0.372181
2693,fin,2017,7.160000e+06,5511372,Finland,1.299132
2741,fji,2017,1.033915e+06,877460,Fiji,1.178304
2787,fra,2017,6.901800e+07,64842513,France,1.064394
2834,fsm,2017,2.311400e+04,111461,"Micronesia, Fed. Sts.",0.207373
2880,gab,2017,2.663243e+06,2064812,Gabon,1.289823
2927,gbr,2017,7.909862e+07,66727463,United Kingdom,1.185398
2974,geo,2017,5.502395e+06,4008723,Georgia,1.372605
3022,gha,2017,3.675176e+07,29121464,Ghana,1.262016
3069,gin,2017,1.170000e+07,12067516,Guinea,0.969545
3117,gmb,2017,2.966000e+06,2213900,Gambia,1.339717
3164,gnb,2017,1.434822e+06,1828146,Guinea-Bissau,0.784851
3212,gnq,2017,5.661130e+05,1262008,Equatorial Guinea,0.448581
3259,grc,2017,1.293711e+07,10569449,Greece,1.224010
3307,grd,2017,1.131770e+05,110874,Grenada,1.020771
3354,gtm,2017,1.998648e+07,16914979,Guatemala,1.181585
3402,guy,2017,6.432100e+05,775218,Guyana,0.829715
3448,hkg,2017,1.839476e+07,7306315,"Hong Kong, China",2.517652
3496,hnd,2017,8.233499e+06,9429016,Honduras,0.873209
3544,hrv,2017,4.315580e+06,4182847,Croatia,1.031733
3592,hti,2017,6.305862e+06,10982367,Haiti,0.574181
3639,hun,2017,9.945037e+06,9729822,Hungary,1.022119
3687,idn,2017,4.351936e+08,264650969,Indonesia,1.644406
3735,ind,2017,1.168902e+09,1338676779,India,0.873177
3783,irl,2017,4.898872e+06,4753281,Ireland,1.030630
3831,irn,2017,8.704695e+07,80673888,Iran,1.078998
3879,irq,2017,3.341569e+07,37552789,Iraq,0.889832
3926,isl,2017,4.012310e+05,334395,Iceland,1.199871
3956,isr,2017,1.054000e+07,8243849,Israel,1.278529
4004,ita,2017,8.387154e+07,60673694,Italy,1.382338
4052,jam,2017,3.091222e+06,2920848,Jamaica,1.058330
4100,jor,2017,9.703287e+06,9785840,Jordan,0.991564
4148,jpn,2017,1.727900e+08,127502728,Japan,1.355187
4195,kaz,2017,2.669330e+07,18080023,Kazakhstan,1.476397
4243,ken,2017,4.281511e+07,50221146,Kenya,0.852532
4291,kgz,2017,8.467966e+06,6189727,Kyrgyz Republic,1.368068
4339,khm,2017,1.857297e+07,16009413,Cambodia,1.160128
4387,kir,2017,4.612300e+04,114153,Kiribati,0.404045
4430,kna,2017,7.687800e+04,52036,St. Kitts and Nevis,1.477400
4474,kor,2017,6.365869e+07,51096408,South Korea,1.245854
4522,kwt,2017,7.138833e+06,4056102,Kuwait,1.760023
4570,lao,2017,3.711813e+06,6953031,Lao,0.533841
4618,lbn,2017,4.399085e+06,6819373,Lebanon,0.645086
4666,lbr,2017,2.660000e+06,4702224,Liberia,0.565690
4712,lby,2017,6.020000e+06,6580723,Libya,0.914793
4755,lca,2017,1.766940e+05,180955,St. Lucia,0.976453
4777,lie,2017,4.640200e+04,37805,Liechtenstein,1.227404
4825,lka,2017,2.819908e+07,21128028,Sri Lanka,1.334677
4872,lso,2017,2.380804e+06,2091532,Lesotho,1.138306
4918,ltu,2017,4.361329e+06,2845419,Lithuania,1.532755
4966,lux,2017,7.940000e+05,591914,Luxembourg,1.341411
5014,lva,2017,2.464122e+06,1951097,Latvia,1.262942
5062,mar,2017,4.391607e+07,35581257,Morocco,1.234247
5110,mco,2017,3.297800e+04,38392,Monaco,0.858981
5158,mda,2017,3.746644e+06,4059687,Moldova,0.922890
5206,mdg,2017,8.730499e+06,25570511,Madagascar,0.341428
5253,mdv,2017,9.001200e+05,496398,Maldives,1.813303
5301,mex,2017,1.143294e+08,124777326,Mexico,0.916267
5340,mhl,2017,1.600000e+04,58053,Marshall Islands,0.275610
5386,mkd,2017,2.008008e+06,2081996,North Macedonia,0.964463
5434,mli,2017,2.203411e+07,18512429,Mali,1.190233
5481,mlt,2017,6.047590e+05,437935,Malta,1.380933
5529,mmr,2017,4.794666e+07,53382521,Myanmar,0.898172
5544,mne,2017,1.044674e+06,627563,Montenegro,1.664652
5592,mng,2017,3.886167e+06,3113788,Mongolia,1.248051
5640,moz,2017,1.187551e+07,28649007,Mozambique,0.414517
5687,mrt,2017,4.074157e+06,4282582,Mauritania,0.951332
5735,mus,2017,1.839500e+06,1264497,Mauritius,1.454729
5782,mwi,2017,7.772503e+06,17670193,Malawi,0.439865
5829,mys,2017,4.233850e+07,31104655,Malaysia,1.361163
5877,nam,2017,2.680196e+06,2402623,Namibia,1.115529
5925,ner,2017,8.778884e+06,21602388,Niger,0.406385
5971,nga,2017,1.449202e+08,190873247,Nigeria,0.759248
6018,nic,2017,8.179876e+06,6384843,Nicaragua,1.281140
6065,nld,2017,2.053200e+07,17021343,Netherlands,1.206250
6113,nor,2017,5.719665e+06,5296324,Norway,1.079931
6160,npl,2017,3.609640e+07,27632682,Nepal,1.306294
6197,nru,2017,1.000000e+04,10577,Nauru,0.945448
6243,nzl,2017,6.400000e+06,4702029,New Zealand,1.361115
6290,omn,2017,6.943910e+06,4665926,Oman,1.488217
6338,pak,2017,1.445256e+08,207906210,Pakistan,0.695148
6386,pan,2017,5.280195e+06,4106764,Panama,1.285731
6434,per,2017,3.891539e+07,31444299,Peru,1.237598
6481,phl,2017,1.158250e+08,105172921,Philippines,1.101281
6543,png,2017,4.018000e+06,8438038,Papua New Guinea,0.476177
6589,pol,2017,5.045885e+07,37953176,Poland,1.329503
6637,prk,2017,3.810000e+06,25429816,North Korea,0.149824
6683,prt,2017,1.176411e+07,10288527,Portugal,1.143420
6731,pry,2017,7.468275e+06,6867058,Paraguay,1.087551
6754,pse,2017,3.996206e+06,4747233,Palestine,0.841797
6793,qat,2017,3.988562e+06,2724727,Qatar,1.463839
6841,rou,2017,2.240000e+07,19653966,Romania,1.139719
6889,rus,2017,2.272997e+08,145530091,Russia,1.561874
6937,rwa,2017,8.819217e+06,11980960,Rwanda,0.736103
6967,sau,2017,4.021096e+07,33101183,Saudi Arabia,1.214789
7015,sdn,2017,2.864414e+07,40813398,Sudan,0.701832
7063,sen,2017,1.575837e+07,15419354,Senegal,1.021986
7107,sgp,2017,8.381900e+06,5708042,Singapore,1.468437
7155,slb,2017,4.653310e+05,636030,Solomon Islands,0.731618
7200,sle,2017,6.625000e+06,7488427,Sierra Leone,0.884698
7248,slv,2017,9.478044e+06,6388124,El Salvador,1.483698
7276,smr,2017,3.800000e+04,33671,San Marino,1.128568
7324,som,2017,7.119000e+06,14589165,Somalia,0.487965
7339,srb,2017,8.621771e+06,8829623,Serbia,0.976460
7349,ssd,2017,2.788933e+06,10910774,South Sudan,0.255613
7396,stp,2017,1.739630e+05,207086,Sao Tome and Principe,0.840052
7444,sur,2017,7.958710e+05,570501,Suriname,1.395039
7492,svk,2017,7.117753e+06,5447903,Slovak Republic,1.306512
7540,svn,2017,2.443172e+06,2076395,Slovenia,1.176641
7588,swe,2017,1.251931e+07,9904895,Sweden,1.263952
7636,swz,2017,1.052000e+06,1124808,Eswatini,0.935271
7682,syc,2017,1.672820e+05,96418,Seychelles,1.734967
7730,syr,2017,1.538600e+07,17095669,Syria,0.899994
7778,tcd,2017,6.368600e+06,15016761,Chad,0.424099
7826,tgo,2017,6.069905e+06,7698476,Togo,0.788455
7874,tha,2017,1.215300e+08,69209817,Thailand,1.755965
7922,tjk,2017,9.904000e+06,8880270,Tajikistan,1.115281
7968,tkm,2017,9.377000e+06,5757667,Turkmenistan,1.628611
7984,tls,2017,1.556624e+06,1243260,Timor-Leste,1.252050
8032,ton,2017,1.079380e+05,102002,Tonga,1.058195
8080,tto,2017,2.030637e+06,1384060,Trinidad and Tobago,1.467160
8126,tun,2017,1.433408e+07,11433438,Tunisia,1.253698
8174,tur,2017,7.780017e+07,81116451,Turkey,0.959117
8221,tuv,2017,8.000000e+03,11365,Tuvalu,0.703916
8267,tza,2017,3.995386e+07,54660345,Tanzania,0.730948
8315,uga,2017,2.494888e+07,41166588,Uganda,0.606047
8362,ukr,2017,5.571473e+07,44487708,Ukraine,1.252362
8410,ury,2017,5.097569e+06,3436645,Uruguay,1.483298
8455,usa,2017,4.000000e+08,325084758,United States,1.230448
8502,uzb,2017,2.426546e+07,31959774,Uzbekistan,0.759250
8549,vct,2017,1.158440e+05,109826,St. Vincent and the Grenadines,1.054796
8597,ven,2017,2.449369e+07,29402480,Venezuela,0.833048
8645,vnm,2017,1.200162e+08,94600643,Vietnam,1.268661
8693,vut,2017,2.280160e+05,285499,Vanuatu,0.798658
8738,wsm,2017,1.242110e+05,195358,Samoa,0.635812
8784,yem,2017,1.535787e+07,27834811,Yemen,0.551750
8831,zaf,2017,8.849761e+07,57009751,South Africa,1.552324
8879,zmb,2017,1.343854e+07,16853608,Zambia,0.797369
8927,zwe,2017,1.409210e+07,14236599,Zimbabwe,0.989850

**Task 13 Test**

In [98]:
# Task 13 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 14** - Identify the five countries with the most cell phones per person in 2017

* Sort the `df2017` DataFrame by `phones_per_person` in descending order and assign the result to `df2017_top`. Your new DataFrame should only have **five** rows (Hint: use `.head()` to return only five rows).
* Print the first 5 records of `df2017_top`.

In [105]:
# Task 14

# Sort the df2017 dataframe by phones_per_person in descending order
df2017_top = df2017.sort_values(by='phones_per_person', ascending=False)
# Return only five (5) rows

# YOUR CODE HERE

# View the df2017_top DataFrame
df2017_top = df2017_top.head()
df2017_top

,geo,time,cell_phones_total,population_total,country,phones_per_person
3448,hkg,2017,18394762.0,7306315,"Hong Kong, China",2.517652
227,are,2017,19826224.0,9487206,United Arab Emirates,2.089785
365,atg,2017,184000.0,95425,Antigua and Barbuda,1.928216
5253,mdv,2017,900120.0,496398,Maldives,1.813303
1937,cri,2017,8840342.0,4949955,Costa Rica,1.785944

**Task 14 Test**

In [106]:
# Task 14 - Test

assert df2017_top.shape == (5,6), 'Make sure you return only five rows'