<a href="https://colab.research.google.com/github/tsangrebecca/BloomTech/blob/main/Sprint_1/Module_2/O3_Use_Basic_Pandas_Functions_for_Exploratory_data_analysis_EDA_Overview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Information

method	description

df.shape	display the size (x, y)

df.head()	display the first 5 rows ( we can display first n rows by including the number in parenthesis)

df.tail()	display the last 5 rows ( we can display last n rows by including the number in parenthesis)

df.describe()	display the statistics of numerical data types

df.info()	display the number of entries (rows), number of columns, and the data types


# Column-specific

Sometimes we don’t want to look at the entire DataFrame and instead focus on a single column or a few columns. There are a few ways to select a column, but we’ll mainly use the column name. For example, if we have a DataFrame called df and a column named “column_1,” we could select just a single column by using df["column_1"]. Once we have a single column chosen, we can use some of the following methods to get more information.

method	description

df.columns	print a list of the columns

df['column_name']	select a single column ( returns a Series)

df['column_name'].value_counts()	count the number of object and boolean occurrences

df.sort_values(by='column_name')	sort the values in the given column

df.drop()	remove rows or columns by specifying the label or index of the row/column

# Missing Values

method	description

df.isnull().sum()	 count and sum the number of null occurrences (NaN or None)

df.fillna()	fill NaN values in a variety of ways

df.dropna()	remove values that are NaN or None; by default removes all rows with NaNs



# Drop the mass column
df.drop(columns='mass')


# Count the values in the 'type' column
df['type'].value_counts()

In [2]:
import pandas as pdf

url_mms = "https://tinyurl.com/mms-statistics"
df = pd.read_csv(url)

In [3]:
df.shape

(816, 4)

In [4]:
df.head()

            type   color  diameter  mass
0  peanut butter    blue     16.20  2.18
1  peanut butter   brown     16.50  2.01
2  peanut butter  orange     15.48  1.78
3  peanut butter   brown     16.32  1.98
4  peanut butter  yellow     15.59  1.62

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      816 non-null    object
 1   color     816 non-null    object
 2   diameter  816 non-null    float64
 3   mass      816 non-null    float64
dtypes: float64(2), object(2)
memory usage: 25.6+ KB

In [6]:
df.describe()

         diameter        mass
count  816.000000  816.000000
mean    14.171912    1.419632
std      1.220001    0.714765
min     11.230000    0.720000
25%     13.220000    0.860000
50%     13.600000    0.920000
75%     15.300000    1.930000
max     17.880000    3.620000

In [7]:
df.columns

Index(['type', 'color', 'diameter', 'mass'], dtype='object')

In [8]:
df.drop(columns="mass").head()

            type   color  diameter
0  peanut butter    blue     16.20
1  peanut butter   brown     16.50
2  peanut butter  orange     15.48
3  peanut butter   brown     16.32
4  peanut butter  yellow     15.59

In [9]:
df["type"].value_counts()

plain            462
peanut butter    201
peanut           153
Name: type, dtype: int64

In [10]:
df.isnull().sum()

type        0
color       0
diameter    0
mass        0
dtype: int64

In [11]:
df.sort_values(by='mass')

       type   color  diameter  mass
324   plain  yellow     12.32  0.72
571   plain  orange     12.56  0.73
616   plain   green     11.23  0.73
225   plain  orange     13.04  0.74
462   plain     red     12.61  0.76
..      ...     ...       ...   ...
717  peanut    blue     15.71  3.27
738  peanut  yellow     15.76  3.37
762  peanut   green     16.36  3.48
785  peanut    blue     17.88  3.57
690  peanut  orange     16.70  3.62

[816 rows x 4 columns]

In [13]:
df.sort_values(by='diameter', ascending=False)

              type   color  diameter  mass
785         peanut    blue     17.88  3.57
143  peanut butter   green     17.61  2.63
84   peanut butter     red     17.50  2.53
5    peanut butter   brown     17.43  2.59
118  peanut butter    blue     17.43  2.54
..             ...     ...       ...   ...
480          plain   green     12.39  0.84
568          plain   brown     12.38  0.82
324          plain  yellow     12.32  0.72
634          plain   green     12.15  0.85
616          plain   green     11.23  0.73

[816 rows x 4 columns]